/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
.greatvibes {
  font-family: 'Great Vibes', cursive;
}

html, body {
  overflow-x: hidden;
  background-color: #f5eaf1;
}
